@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #eee;
}

/* navBar */

.nav{
  background: #ccebff;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.6em;
  font-weight: 600;
  color: blue !important;
}
.cartIcon{
  font-size: 1.6em;
  cursor: pointer;
}

/* products */

.favorite-icon{
  color: #ff9999;
  font-size: 1.7em;
  margin-left: 0.5em;
  cursor: pointer;
}

/* cart */

.cartActions{
  cursor: pointer;
}

.spinner{
  margin-right: 0.6em;
}

